.post__text {
  margin: 1rem 0;
}
.post__img {
  width: 100%;
  border-radius: 0.5rem;
}
.reacts-btn {
  width: 80%;
  margin: 0.2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.btn__text {
  margin-left: 0.2rem;
}

.btn__isLiked {
  color: rgb(255, 0, 0);
}
